
/*
    Make sure to only make css changes to elements with your ID,
    or children of elements with your ID
*/ 

#BackStir h3 {
    color: #6699CC;
}

#BackStir #naskar{
    width: 200px;
    position: relative;
    height: 200px;
}

#BackStir .rectangle{
    width: 200px;
    Height: 300px;

    background-color: green;

}

    