
/*
    Make sure to only make css changes to elements with your ID,
    or children of elements with your ID
*/ 

#CodeTool h3 {
    color: pink;
}

#CodeTool.KirnisBox {
    height: 42px;
    width: 42px;
    background-color: darkblue;
}