
/*
    Make sure to only make css changes to elements with your ID,
    or children of elements with your ID
*/ 

#CodeTool h3 {
    color: pink;
}

#CodeTool .KirnisCircle {
    position: relative;
    height: 50px;
    width: 50px;
    background-color: greenyellow;
    border-radius: 50%;
}

#CodeTool button {
    height: 100px;
    width: 100px;
    position: relative;
    right: -110px;
    bottom: 100px;
}

#CodeTool .KirnisSquare {
    position: relative;
    height: 50px;
    width: 50px;
    background-color: blueviolet;
}
