
/*
    Make sure to only make css changes to elements with your ID,
    or children of elements with your ID
*/ 

#CodeTool h3 {
    color: pink;
}

#CodeTool .Square {
    height: 21px;
    width: 21,0px;
    background-color: darkslateblue;
}