
/*
    Make sure to only make css changes to elements with your ID,
    or children of elements with your ID
*/ 

#CoreMonk h3 {
    color: #ff8400;
} 

#triangle-down {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid #ff8400;
}