
/*
    Make sure to only make css changes to elements with your ID,
    or children of elements with your ID
*/ 

#FuelTaxi h3 {
    color: #bb47ff;
}

#colorButton {
    position: relative;
    background-color: yellow;
    left: -544px;
}

#slideShow {
    max-width: 20%;  
    height: auto;
}
