
/*
    Make sure to only make css changes to elements with your ID,
    or children of elements with your ID
*/ 




#MealGoat h3 {
    color: #e48508;
    padding: 20px;
}

    .ruta{
        width: 300px;
        height: 100px;
        background-color: salmon;
    }
        .cirkel{
            margin-right:36px;
            background: white;
        }

    button{
        margin-top: 40px;
        line-height: 60px;
        background: turquoise;
    }
        

