
/*
    Make sure to only make css changes to elements with your ID,
    or children of elements with your ID
*/ 

#PumpRage h3 {
    color: #6699CC;
}
    


#PumpRage button {
    height: 20px;
    width: 90px;
    position: relative;
    right: -110px;
    bottom: 100px;
}

#PumpRage .Cirkel {
    position: relative;
    height: 100px;
    width: 100px;
    background-color: blue;
    border-radius: 50%;
}
