
/*
    Make sure to only make css changes to elements with your ID,
    or children of elements with your ID
*/ 

#RootBend h3 {
    
    background-color: rgb(235, 20, 145);
    color: rgb(91, 219, 5);
    width: 300px;
  border: 15px  green;
  padding: 50px;
  margin: 20px;
}

/*#button{
  color: rgb(69, 5, 219);
  width: 100px;
border: 15px;
padding: 50px;
margin: 20px;
}*/




