
/*
    Make sure to only make css changes to elements with your ID,
    or children of elements with your ID
*/ 

#RootBend h3 {
    
    background-color: rgb(24, 20, 235);
    color: rgb(91, 219, 5);
    width: 300px;
  border: 15px  green;
  padding: 50px;
  margin: 20px;
}

#RootBend button {
  height: 20px;
  width: 90px;
  position: relative;
  right: -110px;
  bottom: 100px;
}

#RootBend .Cirkel {
  position: relative;
  height: 100px;
  width: 100px;
  background-color: blue;
  border-radius: 50%;
  animation: leftright 10s linear infinite;
  
}






