
/*
    Make sure to only make css changes to elements with your ID,
    or children of elements with your ID
*/ 

#SlapLike h3 {
    color: red;
}

#SlapLike .jakt {
    position: relative;
    top: 300px;
}

#SlapLike #cirkel {
    height: 100px;
    width: 100px;
    background-color: blue;
    border-radius: 50%;
}

#SlapLike button {
    height: 20px;
    width: 90px;
    position: relative;
    right: -110px;
    bottom: 200px;
}

#SlapLike #box1{
    background-color: lightpink;
    padding:5px;
    width:700px;
    height:350px;
    position: relative;
    left: 500px;
    bottom: 250px;
}

#SlapLike .quizButton {
    background-color: navy;
    color: white;
    font-size: large;
    height: 40px;
    width: 150px;
    position: relative;
    top: 100px;
    text-align: center;
}

#SlapLike #jacob {
    position: relative;
    height: 200px;
    width: 150px;
    top: 40px;
    right: 420px;
}

#SlapLike #axel {
    position: relative;
    height: 200px;
    width: 150px;
    bottom: 175px;
    left: 275px;
}

#SlapLike #isak {
    position: relative;
    height: 200px;
    width: 150px;
    bottom: 175px;
    left: 370px;
}

