
/*
    Make sure to only make css changes to elements with your ID,
    or children of elements with your ID
*/ 

#TileCell h3 {
    color: #f700ff;
}

#TileCell .Square {
   height: 69px;
   width: 69px;
   background-color: darkred;
}

