
/*
    Make sure to only make css changes to elements with your ID,
    or children of elements with your ID
*/ 

#TollBeat {
    
    color:blue;
    
}
#TollBeat .circle {
    position: relative;
    border-radius: 50%;
    height: 50px;
    width: 50px;;
    
    background-color: #8a2be2;
}

#TollBeat .square{
    position: relative;
    height: 50px;
    width: 50px;;
    
    background-color: #83e22b;
}

#TollBeat button{
    width: 500px;
    height: 5px;
    position: relative;
}

