
/*
    Make sure to only make css changes to elements with your ID,
    or children of elements with your ID
*/ 

#WildArch h3 {
    color: #a51d3a;
}
#WildArch .Triangle-up{
    width: 20px;
    Height: 30px;
    background-color: green;
    
	
    
}
#WildArch .Triangle-up2{
    width: 20px;
    Height: 30px;
    color: red;
    background-color: red;
    
	
    
}

#WildArch .button{
    height: 30px;
    width: 40px;
    background-color: rgb(255, 0, 0);
    border: hotpink;
    color: indigo;
    padding: 150x 320px;
    cursor: pointer;
    
}
#WildArch .button:hover{
    background-color: lawngreen;
    color:rgb(255, 255, 255);
}
#WildArch .oval{
    height: 50px;
  width: 100px;
  background-color: blue;
  border-radius: 50%;
}

