
/*
    Make sure to only make css changes to elements with your ID,
    or children of elements with your ID
*/ 

#WildArch h3 {
    color: #a51d3a;
}
#WildArch .Triangle-up{
    width: 2;
    Height: 3;
    border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid rgb(85, 85, 85);
    
}
#WildArch .button1{
    background-color: rgb(255, 0, 0);
    border: hotpink;
    color: indigo;
    padding: 150x 320px;
    cursor: pointer;
}
#WildArch .button1:hover{
    background-color: lawngreen;
    color:rgb(255, 255, 255);
}

